body{
    background-color: rgb(172, 135, 199);
    margin: 20px;

}
h1 {
    color:indigo;
    font-style: italic;
    text-align: center;
    width: 500px;
    /* border-width: 400px;
    border-top: black solid;
    border-bottom: black solid;
    border-left: black dotted;
    border-right: #000 dotted;
    border-radius: 30px 15px;
    padding: 13px;
      */

}
p{
    color: #000;
    font-size: 20px;
    text-align: left;
}

ol {
    color: #000;
    font-size: 17px;
    font-weight: 549;
    text-align: left;
    

}

img{
     /* width: 200px: ;   = largura*/ 
    height: 200px ; /*altura*/
} 

a{
    text-decoration: none;
    font-size: 20px;
}

div{
    border: 5px double;
    margin-bottom: 50px;
    padding: 50px;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(130, 87, 163);
    border-radius: 20px;
}

#invocacao{
    background-color: rgb(130, 87, 163);
    width: 35%;
}

#naoNaoOlhe{
    background-color: rgb(130, 87, 163);
    width: 35%;
}

#sorria{
    background-color: rgb(130, 87, 163);
    width: 35%;
}

#hereditario{
    background-color: rgb(130, 87, 163);
    width: 35%;
}

iframe {
    margin: auto;
    display: block;
}