body{
    background-color: black;
    margin: 20px;

}
h1 {
    color: #e8daf3;
    font-style: italic;
    text-align: center;
    width: 400px;
    margin: auto;
    
    /* border-width: 400px;
    border-top: black solid;
    border-bottom: black solid;
    border-left: black dotted;
    border-right: #000 dotted;
    border-radius: 30px 15px;
    padding: 13px;
      */

}
p{
    color: #ffffff;
    font-size: 20px;
    text-align: left;
    margin: auto;
    text-align: center;
    line-height: 300%;
}

ol {
    color: #ffffff;
    font-size: 17px;
    font-weight: 549;
    text-align: left;
    

}

img{
     /* width: 200px: ;   = largura*/ 
    height: 200px ; /*altura*/
    display: block;
} 

a{
    color: #FAF4FF;
    text-decoration: none;
    font-size: 20px;
    display: block;
    border: solid #302A33;
    border-radius: 20px;
    width: max-content;
    padding: 0 10px;
    margin: 10px auto;
    background-color: #302A33;
    margin-bottom: 10px;
    
}

div{
    border: 5px double white;
    margin-bottom: 50px;
    padding: 50px;
    text-align: center;
    margin: 10px auto;
    background-image: url('../img/fundoterror.png');
    border-radius: 20px;
    background-repeat: no-repeat;
   background-size: cover;
    background-attachment: fixed;
}

#invocacao{
    background-color: rgb(130, 87, 163);
    width: 35%;
}

#naoNaoOlhe{
    background-color: rgb(130, 87, 163);
    width: 35%;
}

#sorria{
    background-color: rgb(130, 87, 163);
    width: 35%;
}

#hereditario{
    background-color: rgb(130, 87, 163);
    width: 35%;
}

iframe {
    margin: auto;
    display: block;
}

span{
    font-style: italic;
    font-weight: bold;
}

#horror{
    height: 300px;
    margin: auto;
}

#para.inicial{
    color: #000;
    font-size: 20px;
    text-align: left;
    margin: auto;
}


a:hover {
    background-color: white; 
    color: #000;
    transform: scale(1.2);
}